<aside class="main-sidebar" th:fragment="aside">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://tse1.mm.bing.net/th?id=OIP.ZxrTKU2-mXGCnbsJfucRQgHaEK&pid=Api&P=0&h=180" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p> Nguyễn Trung</p>
<!--                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>

             <!-- them lesson va comment -->
            <li class="treeview" th:classappend="${activePage == 'lessons'} ? 'active menu-open'">
                <a href="#">
                    <i class="fa fa-book"></i> <span>Lesson</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li th:classappend="${activePage == 'lessons'} ? 'active'">
                        <a th:href="@{/lessons}"><i class="fa fa-circle-o"></i> All Lessons</a>
                    </li>
                </ul>
            </li>
            <li class="treeview" th:classappend="${activePage == 'comments'} ? 'active menu-open'">
                <a href="#">
                    <i class="fa fa-comments"></i> <span>Comment</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li th:classappend="${activePage == 'comments'} ? 'active'">
                        <a th:href="@{/comments}"><i class="fa fa-circle-o"></i> All Comments</a>
                    </li>
                </ul>
            </li>
			<!-- User Management -->
			<li class="treeview" th:classappend="${activePage == 'users'} ? 'active menu-open'">
			    <a href="#">
			        <i class="fa fa-user"></i> <span>User</span>
			        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			    </a>
			    <ul class="treeview-menu">
			        <li th:classappend="${activePage == 'users'} ? 'active'">
			            <a th:href="@{/admin/users}"><i class="fa fa-circle-o"></i> All Users</a>
			        </li>
			    </ul>
			</li>

<!--            Note-->
            <li>
                <a th:href="@{/notes}">
                    <i class="fa fa-edit"></i>
                    <span>Note</span>
                </a>
            </li>

             <!--Topic-->
             <li class="treeview" th:classappend="${activePage == 'topics'} ? 'active menu-open'">
			    <a href="#">
			        <i class="fa fa-topic"></i> <span>Topic</span>
			        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			    </a>
			    <ul class="treeview-menu">
			        <li th:classappend="${activePage == 'topics'} ? 'active'">
			            <a th:href="@{/topics}"><i class="fa fa-circle-o"></i> All TOPICS</a>
			        </li>
			    </ul>
			</li>

            <!--Question-->
            <li class="treeview" th:classappend="${activePage == 'questions'} ? 'active menu-open'">
			    <a href="#">
			        <i class="fa fa-question"></i> <span>Question</span>
			        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			    </a>
			    <ul class="treeview-menu">
			        <li th:classappend="${activePage == 'topics'} ? 'active'">
			            <a th:href="@{/questions}"><i class="fa fa-circle-o"></i> All Questions</a>
			        </li>
			    </ul>
			</li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
