<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Note</title>
</head>
<body>
<section layout:fragment="content">
    <div class="box box-primary" style="max-width: 600px;">
        <div class="box-header with-border">
            <h3 th:text="${note.noteId == null ? 'Create Note' : 'Edit Note'}"></h3>
        </div>

        <form action="#" th:action="@{/notes/save}" th:object="${note}" method="post" role="form">
            <div class="box-body">

                <div class="form-group" th:if="${note.noteId != null}">
                    <label for="noteId">Note ID:</label>
                    <input type="number" th:field="*{noteId}" class="form-control" id="noteId" readonly/>
                </div>

                <div class="form-group">
                    <label for="content">Add a new note:</label>
                    <textarea th:field="*{content}" class="form-control" id="content" required></textarea>
                </div>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Enter username" required />
                </div>

            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <a th:href="@{/notes}" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>
